*.log
*.out

# *tar.gz,*rar
QF_NIA_SAT.rar
QF_NRA_SAT.rar
#program_qf_fp.tar.gz
#smtlib_qf_fp.tar.gz

# benchmarks
data/benchmarks/program_qf_fp/
data/benchmarks/smtlib_qf_fp/
data/benchmarks/smtlib_qf_nia/
data/benchmarks/smtlib_qf_nra/
#data/benchmarks/QF_NIA_SAT.rar
#data/benchmarks/QF_NRA_SAT.rar

# dic
.idea
result_apk/
runs/
build/
install/
solvers/
script/
program_qf_fp_nobitwise/
program-qf_fp_600_nobitwise/
portfolio_bitwuzla_jfs_lf_fail_fast_smart_seeds/


00-run_experiments.sh
common1.sh
common_1.sh
common11.sh
jfs_perf_describe.sh
jfs_perf_plot_quantile.sh
solver_cmp_plot_histogram.sh
solver_cmp_plot_quantile_apk.sh
